<a href="https://colab.research.google.com/github/ftk1000/colab_demos/blob/master/kaggle_data_to_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# kaggle_data_to_colab.ipynb

https://www.youtube.com/watch?v=tGw-ZACouik

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
# goto KAGGLE MyAccount and CREATE A NEW API TOKEN saved as 'kaggle.json' file in your local DOWNLOAD dir

In [2]:
from google.colab import files
files.upload()

Saving kaggle_20200901.json to kaggle_20200901.json

{'kaggle_20200901.json': b'{"username":"zurman","key":"09a91dfb7e3922f4f752e77ff3733b27"}'}

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle_20200901.json ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

In [6]:
!ls -la ~/

total 64
drwx------ 1 root root 4096 Sep  1 19:02 .
drwxr-xr-x 1 root root 4096 Sep  1 18:53 ..
-rw-r--r-- 1 root root 3106 Apr  9  2018 .bashrc
drwxr-xr-x 1 root root 4096 Aug 31 16:44 .cache
drwxr-xr-x 1 root root 4096 Aug 31 16:42 .config
drwxr-xr-x 3 root root 4096 Aug 31 16:13 .gsutil
drwxr-xr-x 5 root root 4096 Aug 31 16:42 .ipython
drwx------ 2 root root 4096 Aug 31 16:42 .jupyter
drwxr-xr-x 2 root root 4096 Sep  1 19:02 .kaggle
drwxr-xr-x 2 root root 4096 Sep  1 18:54 .keras
drwx------ 1 root root 4096 Aug 31 16:42 .local
drwxr-xr-x 3 root root 4096 Aug 31 16:42 .node-gyp
drwxr-xr-x 4 root root 4096 Aug 31 16:42 .npm
-rw-r--r-- 1 root root  148 Aug 17  2015 .profile

In [5]:
!ls -la ./

total 20
drwxr-xr-x 1 root root 4096 Sep  1 18:59 .
drwxr-xr-x 1 root root 4096 Sep  1 18:53 ..
drwxr-xr-x 1 root root 4096 Aug 31 16:13 .config
-rw-r--r-- 1 root root   62 Sep  1 18:59 kaggle_20200901.json
drwxr-xr-x 1 root root 4096 Aug 27 16:39 sample_data

# DOWNLOAD yelp-reviews-dataset.zip

#!kaggle datasets download -d omkarsabnis/yelp-reviews-dataset

In [10]:
!kaggle datasets download -d omkarsabnis/yelp-reviews-dataset

Downloading textclassificationdb.zip to /content
  0% 0.00/80.3k [00:00<?, ?B/s]
100% 80.3k/80.3k [00:00<00:00, 30.4MB/s]

In [12]:
from zipfile import ZipFile
file_name = "yelp-reviews-dataset.zip"

with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

In [9]:
import pandas as pd
df = pd.read_csv('yelp.csv')
print(df.shape)
df.head()

(10000, 10)

              business_id        date  ... useful  funny
0  9yKzy9PApeiPPOUJEtnvkg  2011-01-26  ...      5      0
1  ZRJwVLyzEJq1VAihDhYiow  2011-07-27  ...      0      0
2  6oRAC4uyJCsJl1X0WZpVSA  2012-06-14  ...      1      0
3  _1QQZuf4zZOyFCvXc0o6Vg  2010-05-27  ...      2      0
4  6ozycU1RpktNG2-1BroVtw  2012-01-05  ...      0      0

[5 rows x 10 columns]

In [21]:
# Unique values of three columns 
df.groupby(['cool', 'useful', 'funny']).size().reset_index(name='Freq')

     cool  useful  funny  Freq
0       0       0      0  3612
1       0       0      1   212
2       0       0      2    39
3       0       0      3     4
4       0       0      4     6
..    ...     ...    ...   ...
494    27      31     24     1
495    28      28     39     1
496    32      30     20     1
497    38      38     57     1
498    77      76      0     1

[499 rows x 4 columns]

In [24]:
pd.Series(df['funny'].unique()).sort_values()

0      0
1      1
3      2
4      3
2      4
8      5
7      6
10     7
5      8
6      9
18    10
15    11
11    12
16    13
21    14
26    15
12    16
17    17
23    18
22    19
13    20
25    21
20    22
24    23
27    24
14    27
19    30
9     39
28    57
dtype: int64

In [25]:
df['stars'].value_counts()

4    3526
5    3337
3    1461
2     927
1     749
Name: stars, dtype: int64

# DOWNLOAD textclassificationdb.zip

# !kaggle datasets download -d luishpinto/textclassificationdb

In [ ]:
!kaggle datasets download -d luishpinto/textclassificationdb

In [ ]:
from zipfile import ZipFile
file_name = "textclassificationdb.zip"

with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

In [17]:
!head -10 amazon_cells_labelled.txt

So there is no way for me to plug it in here in the US unless I go by a converter.	0
Good case, Excellent value.	1
Great for the jawbone.	1
Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!	0
The mic is great.	1
I have to jiggle the plug to get it to line up right to get decent volume.	0
If you have several dozen or several hundred contacts, then imagine the fun of sending each of them one by one.	0
If you are Razr owner...you must have this!	1
Needless to say, I wasted my money.	0
What a waste of money and time!.	0